<div class="home__container">
  <app-card
   gameCover="assets/bt-1.jpg"
   gameLabel="DIGITAL"
   gameType="DIGITAL | PS4"
   gamePrice="R$ 399,99"></app-card>
  <app-card
   gameCover="assets/bt-4.jpg"
   gameLabel="EXCLUSIVE"
   gameType="DISC | PS5"
   gamePrice="R$ 300,00"></app-card>
  <app-card
   gameCover="assets/bt-5.jpg"
   gameLabel="FREE"
   gameType="DIGITAL | PS4 PS5"
   gamePrice="R$ 0,00"></app-card>
   <app-card
   gameCover="assets/bt-bad-company-2.jpg"
   gameLabel="EXCLUSIVE"
   gameType="DIGITAL | PS4 PS5"
   gamePrice="R$ 500,90"></app-card>
   <app-card
   gameCover="assets/bt-hardline.jpg"
   gameLabel="DIGITAL"
   gameType="DIGITAL | PS4 PS5"
   gamePrice="R$ 199,00"></app-card>
   <app-card
   gameCover="assets/ac-cover.jpg"
   gameLabel="ALMOST FREE"
   gameType="DIGITAL | PS3"
   gamePrice="R$ 50,00"></app-card>
</div>
